/nbproject/private/private.properties
/nbproject/private/private.xml
/nbproject/project.properties
/nbproject/project.xml
/reporting.tmp
/tmp.addTable
/tmp.php
/includes/config.php
/tmp.style
/unit_tests/reports/logfile.xml
/tmp.request
/unit_tests/reports/phpunit2-noframes.html
